Сторонние библиотеки:
json - для работы с фалами и строками типа json
telebot(TelegramBot API) - для реализации и развертки telegram bota
requests - для парсинга сайтов
sqLite3 - для работы с базами данных
time - для реализации задержки кода
datetime - для получения времени и даты с ОС
random - для построения арты лабиринта
pygame - движок для реализации игры внутри бота
unittest - библиотека тестирования приложений
telebot~=0.0.4
requests~=2.26.0