Сторонние библиотеки:
Json - для работы с фалами и строками типа json
Telebot(TelegramBot API) - для реализации и развертки telegram bota
Requests - для парсинга сайтов
SqLite3 - для работы с базами данных
Time - для реализации задержки кода
Datetime - для получения времени и даты с ОС
Random - для построения арты лабиринта
Pygame - движок для реализации игры внутри бота
Unittest - библиотека тестирования приложений